@font-face {
  font-family: '../fonts/Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: '../fonts/Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: light;
  color: #262626; }

img {
  max-width: 100%; }

.section {
  padding: 100px 0; }
  .section-title {
    font-size: 30px;
    font-family: "Proxima Nova Semibold", sans-serif;
    text-align: center;
    text-transform: uppercase; }
  .section__title {
    margin-bottom: 100px; }

.button-o {
  border: 2px solid #507fe1;
  background-color: white;
  padding: 17px 22px;
  font-size: 12px;
  text-transform: uppercase;
  color: #507fe1;
  font-family: "Proxima Nova Semibold", sans-serif;
  text-decoration: none; }

.button {
  padding: 25px 45px;
  text-transform: uppercase;
  border: none;
  background-color: #507fe1;
  color: #ffffff;
  font-family: "Proxima Nova Semibold", sans-serif;
  font-size: 15px;
  text-decoration: none; }
  .button-fitting {
    color: #507fe1;
    background-color: #fff; }
  .button-add {
    background-color: #7c9fe8;
    color: #fff; }
  .button-like {
    background-color: #507fe1;
    height: 30px;
    border: none;
    width: 30px; }

.bg-secondary {
  background: #f1f1f1; }

.input {
  height: 80px;
  padding: 30px;
  border: 1px solid #dddddd; }

.checkbox {
  display: none; }
  .checkbox:checked + label:before {
    background-color: #507fe1; }
  .checkbox-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 42px; }
    .checkbox-label:before {
      content: "";
      height: 30px;
      width: 30px;
      border: 1px solid #dddddd;
      margin-right: 20px; }
    .checkbox-label-hover {
      cursor: pointer; }

@media (max-width: 576px) {
  .button-o {
    font-size: 10px; }
  .section {
    padding: 60px 0; }
    .section-title {
      font-size: 24px; } }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  max-width: 1170px;
  margin: auto; }

@media (max-width: 1199px) {
  .container {
    max-width: 960px; } }

@media (max-width: 991px) {
  .container {
    max-width: 750px; } }

@media (max-width: 760px) {
  .container {
    max-width: 100%;
    margin: 0 20px; } }

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 99; }
  .navbar-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .navbar__mobile, .navbar__landline {
    text-align: right; }
  .navbar__phone {
    display: block;
    font-family: "Proxima Nova Semibold", sans-serif;
    font-size: 19px;
    text-decoration: none;
    color: #262626;
    margin-bottom: 5px; }
  .navbar__small-text {
    display: block;
    font-size: 14px;
    color: #7b7b79;
    text-decoration: none;
    font-family: "Proxima Nova Light", sans-serif; }

.menu {
  position: fixed;
  z-index: 0;
  top: 80px;
  padding: 16px 0;
  width: 100%;
  left: 0;
  background-color: #507fe1;
  color: white;
  -webkit-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  transform: translateY(-200%); }
  .menu__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .menu__link {
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    color: white; }
  .menu-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    border-right: 1px solid rgba(81, 11, 186, 0.1);
    border-left: 1px solid rgba(81, 11, 186, 0.1);
    height: 80px;
    width: 70px; }
    .menu-button__line {
      display: block;
      width: 20px;
      height: 3px;
      background-color: #89a9eb;
      margin: 2px 0; }

.logo__text {
  font-family: "Proxima Nova Semibold", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 5px; }

.logo__description {
  display: block;
  font-size: 14px;
  color: #7b7b79;
  font-size: 14px;
  font-family: "Proxima Nova Light", sans-serif; }

@media (max-width: 991px) {
  .navbar__mobile, .navbar__landline {
    display: none; } }

@media (max-width: 576px) {
  .logo {
    display: none; }
  .menu {
    top: 60px; }
    .menu-button {
      height: 60px; }
    .menu__nav {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .menu__link {
      margin-bottom: 20px; } }

.hero {
  background: url("../images/hero/hero-bg.jpg") no-repeat center top 80px;
  background-size: contain;
  padding-top: 120px;
  padding-bottom: 100px; }
  .hero__title {
    margin-bottom: 30px;
    font-size: 30px; }
  .hero__subtitle {
    display: block;
    margin-bottom: 67px;
    font-size: 30px;
    font-family: "Proxima Nova Semibold", sans-serif; }

@media (max-width: 991px) {
  .hero {
    background-size: cover;
    background-position: top left 30%; } }

.offer {
  padding: 129px 0; }
  .offer-block {
    background: #fff url("../images/offer/form-bg.png") no-repeat center right;
    background-size: contain;
    -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
    padding: 80px;
    margin-top: -170px; }
  .offer-title {
    font-size: 25px;
    text-transform: uppercase;
    font-family: "Proxima Nova Semibold", sans-serif;
    margin-bottom: 20px; }
  .offer__subtitle {
    display: block;
    font-size: 21px;
    margin-bottom: 48px; }

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 900px;
  margin-bottom: 25px; }
  .form__row:last-child {
    margin-bottom: 0; }

.form__label {
  display: block;
  font-size: 17px;
  margin-bottom: 15px; }

.form__group {
  -ms-flex-preferred-size: 33.33%;
  flex-basis: 33.33%; }

.form__input {
  width: 100%;
  border-right-width: 0; }
  .form__input:last-child {
    border-right-width: 1px; }

.form__button {
  height: 80px;
  width: 100%; }

@media (max-width: 1199px) {
  .offer-block {
    background-position: center right -120px; } }

@media (max-width: 768px) {
  .offer-block {
    background: none;
    background-color: #fff;
    padding: 40px; }
  .offer-title {
    font-size: 18px; }
  .offer__subtitle {
    font-size: 16px; }
  .form__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .form__row-checkbox {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
  .form__group {
    width: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }
  .form__input {
    margin-bottom: 20px; } }

.features-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .features-block__item {
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
    text-align: center;
    margin-bottom: 100px; }

@media (max-width: 991px) {
  .features-block__item {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%; } }

@media (max-width: 760px) {
  .features-block__item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    margin-bottom: 50px; } }

.catalog {
  background-color: #f5f6f8; }
  .catalog-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .catalog__card {
    margin-bottom: 30px; }
  .catalog-card {
    max-width: 570px;
    position: relative;
    -webkit-box-shadow: 7px 5px 21px rgba(0, 0, 0, 0.1);
    box-shadow: 7px 5px 21px rgba(0, 0, 0, 0.1); }
    .catalog-card__buttons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      bottom: 0;
      right: 0; }
    .catalog-card__button {
      font-size: 11px;
      border: none;
      text-transform: uppercase;
      padding: 10px;
      height: 30px; }
    .catalog-card__tag {
      position: absolute;
      top: 10px;
      left: 10px;
      padding: 10px;
      font-size: 12px;
      text-transform: uppercase;
      color: #fff;
      background-color: rgba(80, 127, 225, 0.6); }
    .catalog-card__image {
      display: block; }
  .catalog__description {
    display: block; }
  .catalog__link {
    text-align: center;
    margin-top: 60px; }
  .catalog__link-more {
    display: inline-block;
    margin-bottom: 24px; }

@media (max-width: 1199px) {
  .catalog-card {
    max-width: 470px; }
  .catalog-block {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }

.blog__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 70px; }

.blog__title {
  font-size: 24px;
  font-family: "Proxima Nova Semibold", sans-serif; }

.blog__link-more {
  color: #507fe1;
  font-size: 16px; }

.blog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.blog-list__image {
  height: 200px;
  overflow: hidden; }

.blog-list__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 80px; }

.blog-list__card {
  margin-bottom: 20px; }

.blog-card {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08); }

@media (max-width: 1199px) {
  .blog-list {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .blog-list__card {
      margin-right: 30px;
      margin-left: 30px; } }
