@font-face {
  font-family: '../fonts/Proxima Nova Semibold';
  src: url("../fonts/ProximaNova-Semibold.eot");
  src: url("../fonts/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: '../fonts/Proxima Nova Light';
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: light;
  color: #262626; }

.button-o {
  border: 2px solid #507fe1;
  padding: 17px 22px;
  font-size: 12px;
  text-transform: uppercase;
  color: #507fe1;
  font-family: "Proxima Nova Semibold", sans-serif; }

.button {
  padding: 25px 45px;
  text-transform: uppercase;
  border: none;
  background-color: #507fe1;
  color: #ffffff;
  font-family: "Proxima Nova Semibold", sans-serif;
  font-size: 15px; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  max-width: 1170px;
  margin: auto; }

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 99; }
  .navbar-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 70px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .navbar__mobile, .navbar__landline {
    text-align: right; }
  .navbar__phone {
    display: block;
    font-family: "Proxima Nova Semibold", sans-serif;
    font-size: 19px;
    text-decoration: none;
    color: #262626;
    margin-bottom: 5px; }
  .navbar__small-text {
    display: block;
    font-size: 14px;
    color: #7b7b79;
    text-decoration: none;
    font-family: "Proxima Nova Light", sans-serif; }

.menu {
  position: fixed;
  z-index: 0;
  top: 80px;
  padding: 16px 0;
  width: 100%;
  left: 0;
  background-color: #507fe1;
  color: white;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%); }
  .menu__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .menu__link {
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    color: white; }
  .menu-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    border-right: 1px solid rgba(81, 11, 186, 0.1);
    border-left: 1px solid rgba(81, 11, 186, 0.1);
    height: 80px;
    width: 70px; }
    .menu-button__line {
      display: block;
      width: 20px;
      height: 3px;
      background-color: #89a9eb;
      margin: 2px 0; }

.logo__text {
  font-family: "Proxima Nova Semibold", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  display: block;
  margin-bottom: 5px; }

.logo__description {
  display: block;
  font-size: 14px;
  color: #7b7b79;
  font-size: 14px;
  font-family: "Proxima Nova Light", sans-serif; }

.hero {
  background: url("../images/hero/hero-bg.jpg") no-repeat center top 80px;
  background-size: contain;
  padding-top: 180px;
  padding-bottom: 270px; }
  .hero__title {
    margin-bottom: 30px;
    font-size: 30px; }
  .hero__subtitle {
    display: block;
    margin-bottom: 67px;
    font-size: 30px;
    font-family: "Proxima Nova Semibold", sans-serif; }
