
body {
  font-family: light;
  color: $text-color
}

img {
  max-width: 100%;
}

.section {
  padding: 100px 0;
  &-title {
    font-size: 30px;
    @include bold();
    text-align: center;
    text-transform: uppercase;
  }
  &__title {
    margin-bottom: 100px;
  }
}

.button-o {
  border: 2px solid $primary;
  background-color: white;
  padding: 17px 22px;
  font-size: 12px;
  text-transform: uppercase;
  color: $primary;
  @include bold();
  text-decoration: none;
}

.button {

  padding: 25px 45px;
  text-transform: uppercase;
  border: none;
  background-color: $primary;
  color: #ffffff;
  @include bold();
  font-size: 15px;
  text-decoration: none;
  &-fitting {
    color: $primary;
    background-color: #fff;
  }
  &-add {
    background-color: lighten($primary, 10%);
    color: #fff;
  }
  &-like {
    background-color: $primary;
    height: 30px;
    border: none;
    width: 30px;
  }
}

.bg-secondary {
  background: $bg-secondary;
}

.input {
  height: 80px;
  padding: 30px;
  border: 1px solid #dddddd;
}

.checkbox {
  display: none;

  &:checked + label:before {
    background-color: $primary;
  }

  &-label {
    display: flex;
    align-items: center;
    margin-right: 42px;

    &:before {
      content: "";
      height: 30px;
      width: 30px;
      border: 1px solid #dddddd;
      margin-right: 20px;
    }
    &-hover {
      cursor: pointer;
    }
  }
}

@media (max-width: 576px) {
  .button-o {
    font-size: 10px;
  }
  .section {
    padding: 60px 0;
    &-title {
      font-size: 24px;
    }
  }
}