.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 99;

  &-wrap {
    display: flex;
    align-items: center;
    //min-height: 70px;
    justify-content: space-between;
  }

  &__mobile, &__landline {
    text-align: right;
  }

  &__phone {
    display: block;
    @include bold;
    font-size: 19px;
    text-decoration: none;
    color: $text-color;
    margin-bottom: 5px;
  }

  &__small-text {
    display: block;
    font-size: 14px;
    color: $text-color-light;
    text-decoration: none;
    @include light();
  }
}

.menu {
  position: fixed;
  z-index: 1;
  top: 80px;
  padding: 16px 0;
  width: 100%;
  left: 0;
  background-color: $primary;
  color: white;
  transform: translateY(-200%);
  -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;

  &_active {
    position: fixed;
    z-index: 100;
    width: 100%;
    transform: translateY(0);
    //opacity: 1;
    -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
  }

  &__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__link {
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    color: white;
  }

  &-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    border-right: 1px solid rgba(#510bba, 0.1);
    border-left: 1px solid rgba(#510bba, 0.1);
    height: 80px;
    width: 70px;

    &:hover {
      cursor: pointer;
    }


    &:focus {
      outline: none
    }

    &__line {
      display: block;
      width: 20px;
      height: 3px;
      background-color: #89a9eb;
      margin: 2px 0;
    }
  }
}

.logo {
  &__text {
    @include bold();
    font-size: 16px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 5px;
  }

  &__description {
    display: block;
    font-size: 14px;
    color: $text-color-light;
    font-size: 14px;
    @include light();
  }
}

@media (max-width: 991px) {
  .navbar {
    &__mobile, &__landline {
      display: none;
    }
  }
}

@media (max-width: 576px) {
  .logo {
    display: none;
  }
  .menu {
    top: 60px;
    //transform: translateY(0);
    &-button {
      height: 60px;
    }
    &__nav {
      flex-direction: column;
    }
    &__link {
      margin-bottom: 20px;
    }
  }
}